@import 'components/nav';
@import 'components/panel';
@import 'components/footer';
@import 'components/banners';

body {
  margin:0;
  padding:60px 0 0 0;
}
.ui.segment {
  box-shadow:none;
  border:none;
}
